main {
    min-height: calc(100vh - 160px);
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Tarjetas responsivas */
    gap: 20px; /* Espacio entre las tarjetas */
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s; /* Efecto al pasar el mouse */
}

.card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.card-img-top {
  width: 100%; /* Asegura que la imagen ocupe el 100% del contenedor */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
}

.card-body {
    padding: 15px;
    height: 150px; /* Altura fija para el contenedor del texto */
    overflow: auto; /* Habilita el scroll si el contenido excede la altura */
}

.card-title {
    font-size: 1.25em;
    margin: 0 0 10px; /* Espaciado entre el título y la descripción */
}

.card-text {
    font-size: 0.9em; /* Tamaño de fuente más pequeño para la descripción */
    margin: 0 0 10px;
}

.text-muted {
    font-size: 0.8em;
    color: #666;
}